<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="/">Redis Manager</a>
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>{{clusterName}}</h1>
          <div class="col-lg-12">
            <h3>Details</h3>
            <label>Connected Clients: </label> <span *ngIf="clusterDetails != null">{{clusterDetails.connected_clients}}</span>
            <br />
            <label>Expired Keys: </label> <span *ngIf="clusterDetails != null">{{clusterDetails.expired_keys}}</span>
            <br />
            <label>Evicted Keys: </label> <span *ngIf="clusterDetails != null">{{clusterDetails.evicted_keys}}</span>
            <br />
            <label>Memory Used: </label> <span *ngIf="clusterDetails != null">{{clusterDetails.used_memory}} MB</span>
          </div>

          <!--<div class="col-lg-12">
            <h3>Nodes</h3>
            <img src="/assets/images/loader.gif" height="70" width="70" *ngIf="nodes == null" />
            <div class="row" *ngIf="nodes != null">
              <div class="col-md-3" *ngFor="let item of nodes">
                <img src="/assets/images/redis.png" class="{{item.isActive? '' : 'grayscale'}}" height="70" width="70" />
                <br />
                <label>IP Address: </label> {{item.ipAddress}}
                <br />
                <label>Port: </label>{{item.port}}
              </div>
            </div>
          </div>-->

        </div>
      </div>
    </div>
  </div>
</div>